button{
  cursor: pointer;
  padding: 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.2em;
}
button:hover{
  background-color: #5A3394;
  color:#fff;
  transition: all 0.5s;
}